<?xml version="1.0"?>
<!--
/**
 * Copyright © Bruno Pelaquin. All rights reserved.
 * https://github.com/https-pelaquin
 * https://www.linkedin.com/in/bruno-pelaquin/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Block\Product\ImageFactory">
        <plugin name="category_image_template_switch"
                type="Pelaquin\HoverImageProductGrids\Plugin\ImageTemplateSwitcher" />
    </type>

</config>
