// Copyright © Bruno Pelaquin. All rights reserved.
// https://github.com/https-pelaquin
// https://www.linkedin.com/in/bruno-pelaquin/
//
// Magento UI Media Queries - Breakpoints
//
// @screen__xxs: 320px;
// @screen__x-s: 370px;
// @screen__xs:  480px;
// @screen__s:   640px;
// @screen__m:   768px;
// @screen__l:   1024px;
// @screen__xl:  1440px;
//  _____________________________________________


//
// Mobile and Desktop (style-m.css) - common
//
// Is placed in style-m.css as both desktop and mobile devices
// have rules within this block "in common"
//  ---------------------------------------------

& when (@media-common =true) {
    .products-grid {
        .product-item {
            .product-image-wrapper.bp-product-hover-image {
                position: relative;

                .product-image-photo {
                    transition: opacity .35s ease;
                }

                .bp-product-image-primary {
                    opacity: 1;
                }

                .bp-product-image-hover {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            &:hover {
                .product-image-wrapper.bp-product-hover-image {
                    .bp-product-image-primary {
                        opacity: 0;
                    }

                    .bp-product-image-hover {
                        opacity: 1;
                    }
                }

                .product-image-wrapper.bp-product-slider-image.slick-slider {
                    .slick-arrow {
                        display: block !important;
                    }
                }
            }

            .product-image-wrapper.bp-product-slider-image {
                &:not(.slick-initialized) {
                    .product-image-photo:not(:first-child) {
                        display: none !important;
                    }
                }

                .product-image-photo {
                    display: block !important;
                    position: relative;
                    width: 100% !important;
                }

                &.slick-slider {
                    .slick-arrow {
                        display: none !important;
                        z-index: 2;
                    }

                    .slick-prev,
                    .slick-next {
                        background: none !important;
                        height: 32px;
                        width: 24px;
                    }
                }
            }
        }
    }
}
